@model IEnumerable<WebApplication1.Models.Employees>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Basic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EmpNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmpName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Basic)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DeptNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmailId)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.EmpNo }) |
        @Html.ActionLink("Details", "Details", new { id = item.EmpNo }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.EmpNo })
    </td>
</tr>
}

</table>
